body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    color: gray;
    background-color: beige;
}
li{
font-size: 14px;
font-style: italic;
font-weight: normal;
}
a{
color: maroon;
}

.bold{
    font-weight: bold;
}


.box {
    width: 200px;       /* Width of the box */
    height: 150px;      /* Height of the box */
    background-color: lightblue; /* Background color */
    border: 2px solid #000; /* Border around the box */
    padding: 10px;      /* Padding inside the box */
    margin: 20px;       /* Margin outside the box */
    text-align: center; /* Center the text */
}